header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/*------ header top ------*/
.header-top {
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}
.header-top img {
    height: 20px;
}
/*------ header bottom ------*/
.header-bottom {
    background-color: #fff;
    width: 100%;
}
.header-nav-left ,.header-nav-right {
    display: flex;  
    align-items: center;
    padding: 10px;
}
.header-nav-right {
    justify-content: flex-end;
}
.header-nav-right nav {
    display: flex;
    align-items: center;
}
.header-nav-left ul {
    display: flex;
    padding-left: 0;
}
.header-nav-left ul ,.header-nav-right li {
    margin: 0;
    list-style: none;
}
.header-nav-left > * ,.header-nav-right  nav > * ,.header-nav-left ul li {
    margin: 0 10px;
}
.header-nav-left ul li a ,.header-nav-right li a {
    color: #000;
    text-decoration: none;
}
.chevron-base ,.chevron-hover {
    height: 14px;
}
.burger {
    margin-right: 10px;
    color: gray;
    font-size: 26px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 20px;
}