/*------ general ------*/
body {
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
.plus-img ,.now-img {
    width: 60%;
}
.container-custom {
    max-width: 700px;
    margin: auto;
}

/*------ buttons ------*/
button {
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#access {
    background-color: #363636;
    color: #fff;
}
#buy {
    background-color: #cd3d0f;
    color: #fff;
}
#info ,#more {
    background-color: #2d64e6;
    color: #fff;
}
#explore {
    background-color: #d9dadc;
    color: #2d64e6;
}
#explore2 {
    background-color: #f5f5f5;
    color: #000;
}

/*------ buttons hover ------*/
button:hover {
    outline: 2px solid #fff;
    outline-offset: -6px;
}
#explore2:hover {
    outline: 2px solid #000;
    outline-offset: -6px;
}

/*------ typo ------*/
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    font-weight: 700;
}
p {
    margin: 0;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

/*------ text colors ------*/
.text-color1 {
    color: #fff;
}
.text-color2 {
    color: #1f1f1f;
}
.text-color3 {
    color: #727272;
}
.text-color4 {
    color: #0072ce;
    text-transform: uppercase;
}

/*------ background colors ------*/
.bg-color1 {
    background-color: #000;
}
.bg-color2 {
    background-color: #fff;
}
.bg-color3 {
    background-color: #1f1f1f;
}
.bg-color4 {
    background-color: #bebcbb;
}
.bg-color5 {
    background-color: #161c3b;
}
.bg-color6 {
    background-color: #00439c;
}

/*------ header ------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/*------ header top ------*/
.header-top {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}
.header-top img {
    height: 20px;
}
/*------ header bottom ------*/
.header-bottom {
    width: 100%;
}
.header-nav-left ,.header-nav-right {
    display: flex;  
    align-items: center;
    padding: 10px;
}
/*------ header bottom left ------*/
.header-nav-left ul {
    display: flex;
    padding-left: 0;
}
.header-nav-left ul ,.header-nav-right li {
    margin: 0;
    list-style: none;
}

/*------ header bottom right ------*/
.header-nav-right {
    justify-content: flex-end;
}
.header-nav-right nav {
    display: flex;
    align-items: center;
}

/*------ header bottom links ------*/
.header-nav-left > * ,.header-nav-right  nav > * ,.header-nav-left ul li {
    margin: 0 10px;
}
.header-nav-left ul li a ,.header-nav-right li a {
    color: #727272;
    text-decoration: none;
}

/*------ header bottom links hover ------*/
.header-nav-left ul li a:hover ,.header-nav-right li a:hover {
    color: #000;
}
.header-nav-left ul li a:hover .chevron-hover ,.header-nav-right li a:hover .chevron-hover {
    display: inline;
}
.header-nav-left ul li a:hover .chevron-base ,.header-nav-right li a:hover .chevron-base {
    display: none;
}

/*------ header icons ------*/
.chevron-base ,.chevron-hover {
    height: 14px;
}
.chevron-hover {
    display: none;
}
.burger {
    color: gray;
    font-size: 26px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 20px;
}
.btn-secondary ,.btn-secondary:hover ,.btn-secondary:focus {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

/*------ main ------*/
/*------ section1 ------*/
.jumbotron ,.jumbotron2 {
    background-size: cover;
    background-position: center;
}
.jumbotron {
    margin-top: 110px;
    background-image: url(../img/jumbo-bg.png);
}
.hero {
    padding-top: 300px;
}
.hero img {
    width: 70%;
}
.hero2 img {
    width: 50%;
}
.hero > * ,.hero2 > * {
    margin: 20px 0;
}
.hero-references img {
    border-radius: 20px;
    border: 3px transparent;
    padding: 6px;
}
.hero-references-active img {
    border-radius: 20px;
    border: 3px solid #00439c;
    padding: 3px;
}

/*------ section1 hover ------*/
.hero-references img:hover {
    border: 3px solid #00439c;
    padding: 3px;
}

/*------ section2 ------*/
.ps5-comp {
    opacity: 0.6;
}
.ps5-active ,.ps5-comp:hover {
    transition: opacity 0.6s;
    opacity: 1;
    border-bottom: 3px solid #0072ce;
    margin-bottom: -3px;
}

/*------ section3 ------*/
.jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.new-games {
    border-radius: 20px;
}

/*------ footer ------*/
.language-globe {
    width: 4%;
}
.logo-footer {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(152deg) brightness(105%) contrast(101%);
    width: 20%;
}
.footer-nav ul li {
    list-style: none;
    margin: 5px 0;
}
.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
}
.sie {
    width: 30%;
}
.footer-bottom .container .row a {
    color: #fff;
}