/*------ general ------*/
img {
    max-width: 100%;
}

/*------ main ------*/
main {
    height: 700vh;
}

/*------ jumbotron ------*/
.jumbotron {
    margin-top: 110px;
    margin-bottom: 30px;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 30%;
    color: #fff;
}
.hero img {
    width: 50%;
}
.hero > * {
    margin: 20px 0;
}

.hero-references img {
    border-radius: 20px;
}
