/*------ general ------*/
img {
    max-width: 100%;
}
.container-custom {
    max-width: 700px;
    margin: auto;
}

/*------ section1 ------*/
/*------ jumbotron ------*/
.jumbotron ,.jumbotron2 {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.jumbotron {
    margin-top: 110px;
    background-image: url(../img/jumbo-bg.png);
}
.jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.hero {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 30%;
    color: #fff;
}
.hero img {
    width: 50%;
}
.hero > * {
    margin: 20px 0;
}

.hero-references img {
    border-radius: 20px;
}

/*------ section2 ------*/
.section-title {
    text-align: center;
}

/*------ section3 ------*/
.section3-bg {
    background-color: #1f1f1f;
    color: #fff;
}
.new-games {
    border-radius: 20px;
}

/*------ section4 ------*/
.section4-bg {
    background-color: #bebcbb;
}

/*------ section5 ------*/
.section5-bg {
    background-color: #161c3b;
}